<div class="sidebar">
  <p class="filter-title">
    <b>Filters:</b>
  </p>
  <div class="temp_filter">
    <mat-slide-toggle
      class="temp_checkbox"
      [(ngModel)]="isTempChecked">
      Temperature difference
    </mat-slide-toggle>
    <!-- <mat-checkbox class="temp_checkbox" (click)="tempCheckbox()"
      >Temperature difference</mat-checkbox
    > -->
    <mat-slider
      min="-1"
      max="1"
      step="0.1"
      showTickMarks
      discrete
      [displayWith]="formatLabel"
      [disabled]="!isTempChecked"
    >
      <input matSliderThumb />
    </mat-slider>
  </div>
  <mat-divider></mat-divider>
  <div class="hvac_filter">
    <mat-slide-toggle
    class="temp_checkbox"
    [(ngModel)]="isHvacChecked">
    HVAC status
  </mat-slide-toggle>
  <mat-chip-listbox [disabled] = "!isHvacChecked">
    <mat-chip-option> ON </mat-chip-option>
    <mat-chip-option> Lockout </mat-chip-option>
    <mat-chip-option> OFF </mat-chip-option>
  </mat-chip-listbox>
  </div>
  <mat-divider></mat-divider>
  <!-- <div class="floor_filter">
    <mat-checkbox class="floor_checkbox" (click)="floorCheckbox()"
      >Number of floors</mat-checkbox
    >
    <mat-slider
      min="0"
      max="4"
      step="1"
      showTickMarks
      discrete
      [displayWith]="formatLabel"
      [disabled]="!isFloorChecked"
    >
      <input matSliderThumb />
    </mat-slider>
  </div> -->
  <!-- <div class="floor_filter">
    <mat-checkbox class="house_checkbox">Houses</mat-checkbox>
    <mat-checkbox class="vehicule_checkbox">Vehicules</mat-checkbox>
    <mat-checkbox class="compagnie_checkbox">Compagnies</mat-checkbox>
  </div> -->
  <div class="filter">
    <mat-form-field appearance="fill">
      <mat-label>Sort by</mat-label>
      <mat-select>
        <mat-option style="font-size: 14px" value="one"
          >Indoor temp. : increasing</mat-option
        >
        <mat-option style="font-size: 14px" value="two"
          >Indoor temp. : decreasing</mat-option
        >
        <mat-option style="font-size: 14px" value="one"
        >Temp. diff. : increasing</mat-option
      >
      <mat-option style="font-size: 14px" value="two"
        >Temp. diff. : decreasing</mat-option
      >
      </mat-select>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
  <div class="scale">
    <p class="scale_text"><b>Color Temperature Scale</b></p>
    <mat-form-field class="precision">
      <mat-label>Precision</mat-label>
      <input
        id="precisionValue"
        type="number"
        matInput
        [formControl]="numberFormControl"
        placeholder="Ex. 0.5"
        [(ngModel)]="precisionValueSelected"
        (keyup.enter)="scaleChartPrecision()"
        (blur)="scaleChartPrecision()"
        value="0.5"
      />
      <mat-error
        *ngIf="
          numberFormControl.hasError('min') &&
          !numberFormControl.hasError('required')
        "
      >
        Positive numbers only
      </mat-error>
      <mat-error *ngIf="numberFormControl.hasError('required')">
        Precision is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <div class="scale_gradient"></div>
    <div class="scale_chart">
      <span class="min">
        {{ negMin }}
      </span>
      <span class="midmin">
        {{ negMidMin }}
      </span>
      <span class="mid">
        {{ mid }}
      </span>
      <span class="midmax">
        {{ posMidMax }}
      </span>
      <span class="max">
        {{ posMax }}
      </span>
    </div>
    <mat-divider></mat-divider>
    <div class="hvac_status">
      <p class="hvac-status-title"><b>HVAC Status: </b></p>
      <div  class="circle_lockout"><p class="hvac-status-legend">Lockout</p></div>
      <div class="circle_hvac_on"><p class="hvac-status-legend">ON</p></div>
      <div class="circle_hvac_off"><p class="hvac-status-legend">OFF</p></div>
    </div>
  </div>
</div>
