<div class ="sidebar">
    <div class="temp_filter">
        <mat-checkbox class="temp_checkbox" (click) = "tempCheckbox()">Temprature difference</mat-checkbox>
        <mat-slider min="-1" max="1" step="0.1" showTickMarks discrete [displayWith]="formatLabel" [disabled] = "!isTempChecked">
            <input matSliderThumb>
        </mat-slider>
    </div>
    <div class="floor_filter">
        <mat-checkbox class="floor_checkbox" (click) = "floorCheckbox()">Number of floors</mat-checkbox>
        <mat-slider min="0" max="4" step="1" showTickMarks discrete [displayWith]="formatLabel" [disabled] = "!isFloorChecked">
            <input matSliderThumb>
        </mat-slider>
    </div>
    <div class="floor_filter">
        <mat-checkbox class="house_checkbox">Houses</mat-checkbox>
        <mat-checkbox class="compagnie_checkbox">Compagnies</mat-checkbox>
        <mat-checkbox class="vehicule_checkbox">Vehicules</mat-checkbox>
    </div>
    <br />
    <br />
    <div class = "filter">
        <mat-form-field appearance="fill">
            <mat-label>Filter by</mat-label>
            <mat-select>
                <mat-option value="one">you're not</mat-option>
                <mat-option value="two">you're Alex</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class = "scale">
        <p class = "scale_text"><b>Color Temperature Scale</b></p>
        <div class="scale_gradient">
        </div>
        <div class = "scale_chart">
            <span class = "min"> 
                {{negMin}}
            </span>
            <span class="midmin">
                {{negMidMin}}
            </span>
            <span class="mid">
                {{mid}}
            </span>
            <span class="midmax">
                {{posMidMax}}
            </span>
            <span class="max">
                {{posMax}}
            </span>
        </div>
        <br />
        <mat-form-field appearance="fill" class="precisionScale">
            <mat-label>Precision</mat-label>
            <mat-select [(value)]="precisionValueSelected">
                <mat-option (click) = "scaleChartPrecision()" value=1 >1</mat-option>
                <mat-option (click) = "scaleChartPrecision()" value=2 >2</mat-option>
                <mat-option (click) = "scaleChartPrecision()" value=3 >3</mat-option>
                <mat-option (click) = "scaleChartPrecision()" value=4 >4</mat-option>
                <mat-option (click) = "scaleChartPrecision()" value=5 >5</mat-option>

            </mat-select>
       </mat-form-field>
       <div class="hvac_status">
            <p><b>HVAC Status: </b></p>
            <div class="circle_lockout"><p>Lockout</p></div>
            <div class="circle_hvac_on"><p>ON</p></div>
            <div class="circle_hvac_off"><p>OFF</p></div>
        </div>

    </div>
  
</div>
