mat-slider {
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 190px;
}

mat-chip-listbox {
  margin-top: 1rem;
}
.hvac_filter {
  margin-left: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;

}
.temp_filter {
  margin-left: 1rem;
  margin-top: 1.5rem;
  
}

.scale {
  // position: absolute;
  // bottom: 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.scale .scale_gradient {
  width: 200px;
  height: 50px;
  margin-left: 1.3rem;
  background: linear-gradient(
    to right,
    rgba(0, 18, 107, 100),
    rgba(90, 255, 250, 100),
    rgba(98, 253, 109, 100),
    rgba(255, 162, 0, 100),
    rgba(144, 4, 4, 100)
  );
  border: 1px solid black;
}

.scale_chart {
  text-align: center;
  display: table;
  width: 15.3rem;
  table-layout: fixed;
  margin-bottom: 2rem;
  color: white;
}

.scale_chart span {
  display: table-cell;
  // text-align: center;
  // padding-left: 1rem;
}

.scale .scale_text {
  // text-align: center;
  padding-left: 1.2rem;
  color: #76FF03;
}

.scale .input_precision {
  padding-left: 10px;
  padding-right: 10px;
  size: 30px;
}

.precisionScale {
  padding-left: 10px;
  padding-right: 10px;
}

.hvac_status {
  margin-top: 2rem;
  padding-left: 20px;
  margin-bottom: 2rem;
}

.hvac-status-legend {
  padding-left: 50px;
  padding-top: 5px;
  color: white;
}

.circle_lockout {
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  border: 1px solid black;
}

.circle_hvac_on {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  border: 1px solid black;
}
.circle_hvac_off {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
}

.precision {
  margin: 0 1rem 0.5rem 1rem;
}

.filter {
  margin: 2rem 1rem 1.5rem 1rem;
}

.floor_filter {
  display: flex;
  flex-direction: column;
}

.filter-title {
  margin-left: 0.7rem;
  margin-top: 1rem;
  color: #76FF03;
}

.hvac-status-title {
  color: #76FF03
}

// .filter {
//   margin-top: 2rem;
//   margin-bottom: 2rem;
// }