.container{
    // width: auto;
    // max-height: 100vh !important;
}

.grid{
    // height: 54.45rem;
}

.dialog{
    cursor: pointer;
}

mat-grid-tile {
    background: #424242;
    min-width: 100%/10;
    min-height: 100%/10;
}

.HVACStatus {
    height: 15%;
    width: 10%;
    top: 10%;
    right: 10%;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
}
