*.pyc
.ipynb_checkpoints/*
explore.ipynb

*.odp

wandb/

.idea/

*.pdf

Rendering.png

*.pth

*.yml

monteCarlo/*.csv

.vs
actors/

slurm*
ddpg_results/*.log

monteCarlo/PreviousGridSearchResults/Small_432steps/

monteCarlo/PreviousGridSearchResults/

monteCarlo/results/
path*
log_gurobi*
save_ckpt/*/*.pt


v0/docs/build/
v0/docs/source/api/*