
*.pyc
.ipynb_checkpoints/explore-checkpoint.ipynb
explore.ipynb

*.odp

wandb/

.idea/

*.pdf

Rendering.png

*.pth

*.yml

monteCarlo/gridSearchResult_backup_from_0_to_0.csv

monteCarlo/gridSearchResultFinal_from_0_to_153090.csv

monteCarlo/gridSearchResultFinal_from_1071630_to_1224720.csv

monteCarlo/gridSearchResultFinal_from_1224720_to_1377810.csv

monteCarlo/gridSearchResultFinal_from_1377810_to_1530900.csv

monteCarlo/gridSearchResultFinal_from_153090_to_306180.csv

monteCarlo/gridSearchResultFinal_from_1530900_to_1683991.csv

monteCarlo/gridSearchResultFinal_from_1683990_to_1837080.csv

monteCarlo/gridSearchResultFinal_from_1837080_to_1990170.csv

monteCarlo/gridSearchResultFinal_from_1990170_to_2143260.csv

monteCarlo/gridSearchResultFinal_from_2143260_to_2296350.csv

monteCarlo/gridSearchResultFinal_from_2296350_to_2449440.csv

monteCarlo/gridSearchResultFinal_from_2449440_to_2602530.csv

monteCarlo/gridSearchResultFinal_from_2602530_to_2755620.csv

monteCarlo/gridSearchResultFinal_from_2755620_to_2908710.csv

monteCarlo/gridSearchResultFinal_from_2908710_to_3061800.csv

monteCarlo/gridSearchResultFinal_from_306180_to_459270.csv

monteCarlo/gridSearchResultFinal_from_459270_to_612360.csv

monteCarlo/gridSearchResultFinal_from_612360_to_765450.csv

monteCarlo/gridSearchResultFinal_from_765450_to_918540.csv

monteCarlo/gridSearchResultFinal_from_918540_to_1071630.csv

monteCarlo/gridSearchResultFinal_merged.csv

.vs
actors/

slurm*

monteCarlo/PreviousGridSearchResults/

monteCarlo/results/

monteCarlo/gridSearchResultFinal_from_0_to_146967.csv

monteCarlo/gridSearchResultFinal_from_1028764_to_1175732.csv

monteCarlo/gridSearchResultFinal_from_1175731_to_1322698.csv

monteCarlo/gridSearchResultFinal_from_1322697_to_1469664.csv

monteCarlo/gridSearchResultFinal_from_146966_to_293933.csv

monteCarlo/gridSearchResultFinal_from_1469664_to_1616631.csv

monteCarlo/gridSearchResultFinal_from_1616630_to_1763597.csv

monteCarlo/gridSearchResultFinal_from_1763596_to_1910564.csv

monteCarlo/gridSearchResultFinal_from_1910563_to_2057530.csv

monteCarlo/gridSearchResultFinal_from_2057529_to_2204496.csv

monteCarlo/gridSearchResultFinal_from_2204496_to_2351463.csv

monteCarlo/gridSearchResultFinal_from_2351462_to_2498429.csv

monteCarlo/gridSearchResultFinal_from_2498428_to_2645396.csv

monteCarlo/gridSearchResultFinal_from_2645395_to_2792362.csv

monteCarlo/gridSearchResultFinal_from_2792361_to_2939328.csv

monteCarlo/gridSearchResultFinal_from_293932_to_440900.csv

monteCarlo/gridSearchResultFinal_from_2939328_to_3086295.csv

monteCarlo/gridSearchResultFinal_from_3086294_to_3233261.csv

monteCarlo/gridSearchResultFinal_from_3233260_to_3380228.csv

monteCarlo/gridSearchResultFinal_from_3380227_to_3527194.csv

monteCarlo/gridSearchResultFinal_from_3527193_to_3674160.csv

monteCarlo/gridSearchResultFinal_from_3674160_to_3821127.csv

monteCarlo/gridSearchResultFinal_from_3821126_to_3968093.csv

monteCarlo/gridSearchResultFinal_from_3968092_to_4115060.csv

monteCarlo/gridSearchResultFinal_from_4115059_to_4262026.csv

monteCarlo/gridSearchResultFinal_from_4262025_to_4408992.csv

monteCarlo/gridSearchResultFinal_from_440899_to_587866.csv

monteCarlo/gridSearchResultFinal_from_4408992_to_4555959.csv

monteCarlo/gridSearchResultFinal_from_4555958_to_4702925.csv

monteCarlo/gridSearchResultFinal_from_4702924_to_4849892.csv

monteCarlo/gridSearchResultFinal_from_4849891_to_4996858.csv

monteCarlo/gridSearchResultFinal_from_4996857_to_5143824.csv

monteCarlo/gridSearchResultFinal_from_5143824_to_5290791.csv

monteCarlo/gridSearchResultFinal_from_5290790_to_5437757.csv

monteCarlo/gridSearchResultFinal_from_5437756_to_5584724.csv

monteCarlo/gridSearchResultFinal_from_5584723_to_5731690.csv

monteCarlo/gridSearchResultFinal_from_5731689_to_5878656.csv

monteCarlo/gridSearchResultFinal_from_587865_to_734832.csv

monteCarlo/gridSearchResultFinal_from_734832_to_881799.csv

monteCarlo/gridSearchResultFinal_from_881798_to_1028765.csv
