.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.dialog {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.house-id {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  font-size: calc(min(2vw, 2vh));
  font-weight: bold;
}

mat-grid-tile {
  background: #424242;
}

.HVACStatus {
  height: 15%;
  width: 10%;
  top: 10%;
  right: 10%;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
}

.cell {
  border: 1px solid rgb(94, 94, 94);
  // background-color: #424242;
  // opacity: 50%;
  // margin: 0.1rem;
  // border-radius: 10px;
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 10%;
  height: 10%;
  border-radius: 50%;
}
