.dialog{
    width: 70rem;
    height: 50rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: #DDDDDD;
}

.info, .graphs{
    margin-left: 4rem;
    margin-top: 5rem;
}

.dialog p{
    font-weight: bold;
    font-size: large;
}

.house{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}
