.container{
    position: relative;
    background-color: #DDDDDD;
    width: 30rem;
    height: fit-content;
    border-radius: 1rem;
}

.box{
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 10rem;
    padding-bottom: 1rem;
}

.title{
    font-weight: bold;
    font-size: medium;
    margin-bottom: 0.2rem;
}

.text{
    font-size: small;
    margin-top: 0;
    line-height: 1.2em;
    margin-bottom: 0;
}