mat-slider {
  margin: 0;
  width: 14rem;
}

.container {
  margin: auto;
  display: flex;
  align-items: center;
}

.button {
  margin-right: 1rem;
}

.stop {
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.speed {
  margin-left: 1.5rem;
}

.speed-value {
  width: 3rem;
  height: 2rem;
  border-radius: 0.3rem;
  text-align: center;
  background-color: rgb(112, 134, 146);
  color: white;
}

.speed-value option {
  font-size: 15px;
}
