// mat-slider {
//     margin-left: 1rem;
//     width: 20rem;
// }

.button {
    margin-left: 1rem;
}

.speed {
    display: inline-block;
    margin-left: 1rem;
    transform: translateY(-0.1rem);
}

.speed-value {
    width: 3.3rem;
    height: 2.8rem;
    border-radius: 0.3rem;
    text-align: center;
}

.speed-value option {
    font-size: 15px;
}