<div class="container">
  <div class="box">
    <p class="title">Description:</p>
    <ul class="text">
      <li class="text">Agent Name: {{ this.simulationManager.agentName }}</li>
      <li class="text">Number of HVAC: {{ this.simulationManager.propertyValues[0] }}</li>
      <li class="text">Number of locked HVAC: {{ this.simulationManager.propertyValues[1] }}</li>
      <li class="text">Outdoor temperature: {{ this.simulationManager.propertyValues[2] }}</li>
      <li class="text">Average indoor temperature: {{ this.simulationManager.propertyValues[3] }}</li>
      <li class="text">Average temperature difference: {{ this.simulationManager.propertyValues[4] }}</li>
      <li class="text">Regulation signal: {{ this.simulationManager.propertyValues[5] }}</li>
      <li class="text">Current consumption: {{ this.simulationManager.propertyValues[6] }}</li>
      <li class="text">Consumption error (%): {{ this.simulationManager.propertyValues[7] }}</li>
      <li class="text">RMSE: {{ this.simulationManager.propertyValues[8] }}</li>
      <li class="text">Mass temperature: {{ this.simulationManager.propertyValues[9] }}</li>
      <li class="text">Target temperature: {{ this.simulationManager.propertyValues[10] }}</li>
      <li class="text">Average temperature error: {{ this.simulationManager.propertyValues[11] }}</li>
    </ul>
  </div>
</div>