.container {
  position: relative;
  background-color: rgb(245, 245, 245);
  width: 85%;
  height: 95%;
  max-height: 100%;
  border-radius: 1rem;
}

.box {
  padding-left: 1.5rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  // padding-top: 0.5rem;
}

.title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 0.3rem;
}

.text {
  font-size: 12px;
  margin-top: 0;
  line-height: 1.2em;
  margin-bottom: 0;
}
