.container{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

app-header {
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid black;
    background-color: #EEEEEE;
}

app-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;     
    grid-row-start: 2;
    grid-row-end: 21;
    border: 1px solid black;
    background-color: #DDDDDD;
}

app-grid {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 20;
    border: 1px solid black;
    background-color: #ffffff;
}

app-grid-footer {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 20;
    grid-row-end: 21;
    border: 1px solid black;
    background-color: #9AC999;
    display: grid;
    place-items: center;
}

app-informations {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 6;
    border: 1px solid black;
    background-color: #9AC999;
    display: grid;
    place-items: center;
}

app-graphs {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 6;
    grid-row-end: 20;
    border: 1px solid black;
    background-color: #9AC999;
}

app-timestamp {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 20;
    grid-row-end: 21;
    border: 1px solid black;
    background-color: #9AC999;
}
