.dialog{
    width: 70rem;
    height: 50rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: #DDDDDD;
}

.info, .graphs{
    margin-left: 4rem;
    margin-top: 5rem;
}

.dialog p{
    font-weight: bold;
    font-size: large;
}

.house{
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.graphs{
    display: grid;
    width: 60%;
    height: 60%;
}

#zoom1{
    background-color: rgb(164, 161, 161);
    left: 10%;
    height: 30px;
    width: 100px;
    font-size: 10px;
}

#zoom2{
    background-color: rgb(164, 161, 161);
    left: 10%;
    height: 30px;
    width: 100px;
    font-size: 10px;
}