{{
sms.sidenavData
}}

<div style="display: block;">
    <canvas baseChart #aaa=base-chart width="250" height="250" [type]="'line'" [data]="lineChartData"
        [options]="lineChartOptions" [legend]="lineChartLegend" *ngIf="lineChartData">
    </canvas>
    <button mat-raised-button (click)="resetZoomGraph(0)">Reset Zoom</button>
</div>
<div style="display: block;">
    <canvas baseChart #bbb=base-chart width="250" height="250" [type]="'line'" [data]="lineChartData2"
        [options]="lineChartOptions" [legend]="lineChartLegend" *ngIf="lineChartData2">
    </canvas>
    <button mat-raised-button (click)="resetZoomGraph(1)">Reset Zoom</button>
</div>
<div style="display: block;">
    <canvas baseChart #ccc=base-chart width="250" height="250" [type]="'line'" [data]="lineChartData3"
        [options]="lineChartOptions" [legend]="lineChartLegend" *ngIf="lineChartData3">
    </canvas>
    <button mat-raised-button (click)="resetZoomGraph(2)">Reset Zoom</button>
</div>