#zoom1{
    background-color: rgb(112, 134, 146);
    left: 10%;
    height: 1.3rem;
    width: 6rem;
    top: 10%;
    font-size: 10px;
    margin-bottom: 0.5rem;
}

#zoom2{
    background-color: rgb(112, 134, 146);
    left: 10%;
    height: 1.3rem;
    width: 6rem;
    top: 10%;
    font-size: 10px;
    margin-bottom: 0.5rem;
}

#zoom3{
    background-color: rgb(112, 134, 146);
    left: 10%;
    height: 1.3rem;
    width: 6rem;
    top: 10%;
    font-size: 10px;
    margin-bottom: 0.5rem;
}

.graphs{
    padding: 1rem;
}