#zoom1{
    background-color: rgb(109, 158, 109);
    left: 10%;
    height: 30px;
    width: 100px;
    top: 10%;
    font-size: 10px;
}

#zoom2{
    background-color: rgb(109, 158, 109);
    left: 10%;
    height: 30px;
    width: 100px;
    top: 10%;
    font-size: 10px;
}

#zoom3{
    background-color: rgb(109, 158, 109);
    left: 10%;
    height: 30px;
    width: 100px;
    top: 10%;
    font-size: 10px;
}